f.contenedor{
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
}

.is-primary {
background-color: black;
}

.button {
  margin-top: 10px;
}
.overlay {
    /*background: url(imagenes/overlay.jpg);*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

/*.grayscale {
  filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    width: 100%;
    height: 100%;*/
}*/

body,html{
height:100%; /*Siempre es necesario cuando trabajamos con alturas*/
}

 #inferior{
color: #FFF;
background: #000;
/*position:absolute;*/ /*El div será ubicado con relación a la pantalla*/
left:0px; /*A la derecha deje un espacio de 0px*/
right:0px; /*A la izquierda deje un espacio de 0px*/
bottom:0px; /*Abajo deje un espacio de 0px*/
height:50px; /*alto del div*/
z-index:0;
position:fixed;
top: 0px;
left: 0px;
 }
.fijo {
  position:fixed !important; right:0px; top:0px; z-index:10 !important
}

.carousel-caption h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #263465;
}

.carousel-caption {
  width: 800px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -400px;
  text-align: center;
  z-index: 120;
  color: #fff; 
}

.carousel-caption p {
  font-size: 16px;
}

.frmore {
  background: rgba(255,255,255,0.2);
  text-transform: uppercase;
  width: 150px;
  border:1px solid #fff;
  padding: 5px 0px;
  margin: 10px auto;
  font-weight: bold;
  color: #fff !important;
}

#left {
  background-color: #1fc8db;
  width: 50px;
  height: 10px;
  padding-top: 31px;
  padding-bottom: 64px;
  margin-left: -100px;
  margin-top: -75px;

}

#right {

  background-color: #1fc8db;
  width: 50px;
  height: 10px;
  padding-top: 31px;
  padding-bottom: 64px;
  margin-right: -100px;
  margin-top: -75px;

}

.carousel-control {
  opacity: 100;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: inline;
}
h2 {
  color: #1fc8db;
}
ol.breadcrumb{
  margin-top: 8px;
  margin-bottom: -5px;
  text-align: center;
}
.footer{
  /*margin-top: 40px;*/
    display: inline-block;
    width: 100%;
    height: 150px;
    /*background-color: rgb(255, 121, 205);*/
    background-color: rgba(208,0,0,0.2);
    padding: 20px 10px 5px;
    margin-bottom: 60px;
}

.strong {
  font-size: 30px;
}
/*carrusel*/
/*html, body {
    margin: 0px;
    padding: 0px;
}*/

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-3:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-3:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/*fin de carrusel*/

.nav-left{
  text-align: center;
  height: 70px;
  

}
#caca{
  color: black;

}
.logo{
  font-size: 30px;
  color: black;
}
.izq-vende{
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: auto;
  padding: 30px;
  /*margin-left: auto;
  margin-right: 80px;*/
  border: 1px dashed black;
  border-radius: 10px;
  background-color: rgba(208,0,0,0.2);
}
/*.dcha-vende{
  width: 300px;
  height: auto;
  margin-top: 240px;
  float: left;
  padding: 30px;
  margin-left: 50px;
  border: 1px dashed black;
  border-radius: 10px;

}*/
.clear{
  clear: both;
}
.control2{
  margin-top: 10px;
}
.input.is-success{
  border-color: #d3d6db;
}
.input.is-danger{
  border-color: #d3d6db;
}
.grande{
  font-size:30px;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: underline;
}
.inbenta-banner {
    bottom: 0px;
    left: 40px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 15px 20px 12px;
    cursor: pointer;
    background-color: rgba(208,0,0,0.5);
    color: #000;
    position: fixed;
    background-image: url('http://ticketbis.inbenta.com/assets/images/line_color.png');
    background-repeat: repeat-x;
    font-size: 20px;
    font-family: 'IOpenSans',Helvetica,arial,sans-serif;
    display: block;
    font-weight: 600;
    z-index: 1000;
    left: 0!important;
    width: 100%;
    box-shadow: none;
    border: none;
    text-align: center;
    background-image: none;
    /*background-image: url('../skin-base/less/img/line_color-0c8b4ae262ae689447df5e55537f503e.png');*/
    background-size: 2500px 5px;
    background-position: left top;
    font-size: 14px!important;
    content: "\f075";
    font-family: FontAwesome;
}
.ja{
    text-align: center;
}
.je{
  text-align: center;
}
.ji{
  text-align: center;
}
.jo{
  text-align: center;
  margin-top: 190px;
}
.ju{
  text-align: center;
}
.medio{
  width: 100%;
 margin: 0 auto;

}
.contenido{
  padding-top: 50px;
  /*margin: 30px;
  width: 1400px;
  height: auto;
  background-color: red;*/
 
width:100%;
  margin:15px auto;



}
.card{
  /*float: left;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 20px;*/

   width:300px;
   height: auto;
  background:#fff;
  float:left;
  
  margin-bottom:15px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
  margin-left: 3%;
  margin-bottom: 30px;

}


/*Empieza Masonry:*/
* {
  margin:0;
  padding:0;
}

body {
  background:#e9e9e9;
}

.contenedor {
  width:90%;
  margin:15px auto;
}

.elemento {
  width:220px;
  background:#fff;
  float:left;
  margin-right:15px;
  margin-bottom:15px;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.22);
}

.elemento p {
  padding:10px;
  font-size:13px;
}

.elemento img {
  width:100%;
}
/*Acaba Mansonry*/

.notification.is-info{
  height: auto;
  background-image: url("imagenes2/img5.jpg");
}

.image.is-square img, .image.is-1by1 img, .image.is-4by3 img, .image.is-3by2 img, .image.is-16by9 img, .image.is-2by1 img{
  width: 100%;
}

.tile is-parent{
  background-image: image is-4by3;
}

.botones{
  text-align: center;
  margin-top: -15px;
}
.botoncillo{
  width: 75px;
  margin-top: 10px;
}
.texto{
  padding-top: 7px;
  text-align: center;
  color: red;
  margin-right: 20%;
  margin-left: 20%;
}

/*cuadrados de inicio*/
.cuadros {
width: auto;
height: 2000px;
padding-left:9%;
padding-right: 6%;


}
.cuadrado{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  
}
.cuadrado1{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes2/img2.jpg");
}

.cuadrado1:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes2/img2.jpg");
}
.cuadrado2{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
 /* height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img5.jpg");
}
.cuadrado2:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img5.jpg");
}
.cuadrado3{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img9.jpg");
}
.cuadrado3:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img9.jpg");
}
.cuadrado4{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
 /* height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img14.jpg");
}
.cuadrado4:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img14.jpg");
}
.cuadrado5{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*  height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img15.png");
}
.cuadrado5:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img15.png");
}
.cuadrado6{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img17.jpeg");
}
.cuadrado6:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img17.jpeg");
}
.cuadrado7{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img18.jpg");
}
.cuadrado7:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img18.jpg");
}
.cuadrado8{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
 /* height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img19.jpg");
}
.cuadrado8:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img19.jpg");
}
.cuadrado9{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*  height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img20.jpg");
}
.cuadrado9:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img20.jpg");
}
.cuadrado10{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*  height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img22.jpg");
}
.cuadrado10:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img22.jpg");
}
.cuadrado11{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
/*  height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img23.jpg");
}
.cuadrado11:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img23.jpg");
}
.cuadrado12{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img24.jpg");
}
.cuadrado12:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img24.jpg");
}
.cuadrado13{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img25.jpg");
}
.cuadrado13:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img25.jpg");
}
.cuadrado14{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
 /* height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img26.jpeg");
}
.cuadrado14:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img26.jpeg");
}
.cuadrado15{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img27.jpg");
}
.cuadrado15:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img27.jpg");
}
.cuadrado16{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img28.jpg");
}
.cuadrado16:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img28.jpg");
}
.cuadrado17{
  width: 281px;
  border: 3px solid white;
  margin: 0.5%;
  height: 300px;
  float: left;
  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img22.jpg");
}
.cuadrado17:hover{
  width: 281px;
  border: 8px solid black;
  margin: 0.5%;
  height: 300px;
  float: left;

  /*height: 250px;
  width: 307px;
  margin: 6px;
  background-color: red;
  float: left;*/
  background-image: url("imagenes3/img22.jpg");
}
/*Desplegable*/
*{ 
  font-family: sans-serif; 
  margin: 0;
}
dl{ 
  margin: 60px 20%; 
  width: auto; 
  font-size: 20px;
}
dt, dd{ 
  padding: 20px; 
}
dt{ 
   
  background-color: rgba(208,0,0,0.2);
  color: #ffc107; 
  border-bottom: 1px solid #141414; 
  border-top: 1px solid #4E4E4E; 
  cursor: pointer; 
}
dd{ 
  background: #F5F5F5; 
  display: none; 
  line-height: 1.6em; 
  text-align: center;
}
dt.activo, dt:hover{ 
  background: grey;
  
  }

dt:before{ 
  content: "▸"; 
  margin-right: 10px; 
}
dt.activo:before{
 content: "▾"; 
}
/*Desplegable*/

.contenido2{
  height: 500px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}
.card.is-fullwidth{
  width: 100%;
  margin:0px;
}

strong{
  text-align: center;
  font-size: 40px;
  color: black;
}

.content p{
  text-align: center;
  color: black;
}

.help {
  color: black;
  font-size: 20px;
}

.form4 {
  text-align: center;
  float: left;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 70px;
}

.map {
  float: right;
  margin-top: 80px;
  margin-right: 6%;
  border-radius: 10px;

}
/*Modal2*/
.modal2-contenido{
  background-color: white;
  width: 900px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  border-radius: 10px;
}
.modal2{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:-70px;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal2:target{
  opacity:1;
  pointer-events:auto;
}

/*Modal2*/




/*Modal3*/

.modal3-contenido{
  background-color: white;
  width: 900px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  border-radius: 10px;
}
.modal3{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal3:target{
  opacity:1;
  pointer-events:auto;
}

/*Modal3*/

.pipi{
  float: right;
}

/*Modal ventana has comprado*/
#miVentana{
  position: fixed;
  background-color: red;
  width: 400px;
  height: 100px;
  top: 500px; 
  left: 0; 
  display:none;

}
.div1{
  font-weight: bold; 
  text-align: center; 
  color: #FFFFFF; 
  padding: 5px; 
  background-color: #006394;
}
.p1{
  margin-top: 2px;
  padding: 5px; 
  text-align: center; 
  line-height:normal
}
.div2{
  padding: 10px; 
  background-color: red; 
  text-align: center; 
  margin-top: 44px;"
}
element.style{
  bottom: 0px;
  left: 40px;
}

/*Modal ventana has comprado*/



/*Modal ventana has comprado*/
#miVentana3{
  position: fixed;
  background-color: red;
  width: 400px;
  height: 100px;
  top: 500px; 
  left: 0; 
  display:none;

}
.div3{
  font-weight: bold; 
  text-align: left; 
  color: #FFFFFF; 
  padding: 5px; 
  background-color: #006394;
}
.p3{
  margin-top: 2px;
  padding: 5px; 
  text-align: center; 
  line-height:normal
}
.div3{
  padding: 10px; 
  background-color: red; 
  text-align: center; 
  margin-top: 44px;"
}
element.style{
  bottom: 0px;
  left: 40px;
}

/*Modal ventana has comprado*/


.thumbnail loaded{
  float: 
}

/*.maya{
  background: url(overlay.png);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}*/

/*Cuadrados responsive*/




/*Cuadrados responsive*/

h2{
  margin-top: 30px;
  margin-left: 5px;
  color: black;
  font-size: 30px;
}
.logo1{
  /*width: 300px;
  height: 70px;
  position: absolute;
  margin-left: -230px;*/
 /* width: 300px;
  height: 200px;
  position: absolute;
  margin-top: -3px;
  background-image: url("logo1.png");
  background-repeat: no-repeat;
  margin-left: -100px;*/


}
.login{
  width: 350px;
  height: auto;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 35%;
  margin-left: auto;
  border: 1px dashed black;
  border-radius: 10px;
  background-color: rgba(208,0,0,0.2);


}
.ce{
  text-align: center;
}
.button.is-success{
  margin-top: -2px;
  width: 100px;
  margin-top: 10px;
}
.bd{
  /*background-image: url("fondo1.png");*/

}
.hero.is-primary{
  background-color: rgba(208,0,0,0.5);
}
.foot{
  font-size: 100%;
  color: black;
}
.hero.is-primary a.nav-item, .hero.is-primary .nav-item a:not(.button){
  color: black;

}
.input, .textarea{
  margin-top: 5px;
}
.button.is-warning{
  margin-top: 15px;
}
.control.has-icon:not(.has-icon-right) .input, .control.has-icon:not(.has-icon-right) .textarea{
  margin-top: 0px;
}
.uno{
  width: 50%;
  height: auto;
  float: left;
  background-color: red;
}
.dos{
  width: 50%;
  height: 100px;
  float: right;
  background-color: blue;
}
.columns{
  background-image: url("fondo1.png");
}
.column1{
  width: 80%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.column2{
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.frases{
  width: 90%;
  height: 200px; 
  padding: 20px;
  margin-top: 100px;
  margin-right: 30px;
  font-weight: bold;
}
.text{
  color: #333333;
font-family: Gill Sans / Gill Sans MT, sans-serif;
  font-size: x-large;
  color: black;
  text-align: center;

}
#boton{
  width: 150px;
  text-align: center;
}
.control{
  text-align: center;
}
.frm{
  border: 1px dashed black;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(208,0,0,0.2);
}
.contacta{
  background-image: url("fondo2.png");
}
